a {
    text-decoration: none;
    color: #333333;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topPageLogo {
    padding-left: 85px;
    display: inline;
    padding-bottom: 15px;
}

.miPart {
    color: red;
}

.healthPart {
    color: #83e90f;
}

.mihealthTop {
    font-size: 35px;
}

.topNavRight {
    padding-top: 15px;
    padding-right: 100px;
}

.pageLinksTopRight {
    font-size: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.generalBody  {
    display: flex;
    flex-direction: row;
    background-image: url(img/spikes.png);
    padding: 62px 50px;
    height: 450px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 60px;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    margin: 0px 8px;
    justify-content: flex-end;
    align-items: flex-end;
}

.foodimg1 {
    background-image: url(img/apple-breakfast-quinoa-7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}